.HEROPAGE{
  margin-top: 0%;   
}
.HeroPage_heroSection{
  background-color: #226CF5;
  /* background-color: red; */
  height: 103vh;
  background-repeat: no-repeat;
   background-size: 800vh;
}
.Hero_left_side{
  margin-top: 11%;
} 
.HeroPage_title{
  color: white;
}
.Hero_left_side h1{
  font-size: 45px;
  margin-left: 5%;
}
.After_hero_section{
 padding: 3%;
 background-color: rgb(248, 248, 248);
}
.Our_offering_title{
  margin-top: 0%!important;
}

/* find us section */
.FindUs{
 filter: blur(10%);
 background-position:center;
 background-size: contain;
 background-repeat: no-repeat;
}
.Office_address{
    color: black;
    margin-top: -35%;
    margin-left: 8%;   
    position: absolute;
}


