    .AboutUs_bg{
      background: linear-gradient(90deg,#882e27,#6d869a 50%,#231641) #44287d;
    }
    .vision {
         display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 20px;
    }
  
  .vision .vision_card {
    position: relative;
    min-width: 320px;
    height: 380px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  .vision .vision_card:nth-child(1) .vision_box .vision_content a {
    background: #2196f3;
  }
  
  .vision .vision_card:nth-child(2) .vision_box .vision_content a {
    background: #e91e63;
  }
  
  .vision .vision_card:nth-child(3) .vision_box .vision_content a {
    background: #23c186;
  }
  
  .vision .vision_card .vision_box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .vision .vision_card .vision_box:hover {
    transform: translateY(-50px);
  }
  
  .vision .vision_card .vision_box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  .vision .vision_card .vision_box .vision_content {
    padding: 20px;
    text-align: center;
  }
  
  .vision .vision_card .vision_box .vision_content .vision_heading {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  .vision .vision_card .vision_box .vision_content .vision_content {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .vision .vision_card .vision_box .vision_content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  .vision .vision_card .vision_box .vision_content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .vision .vision_card .vision_box .vision_content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
