/* Services section img part css here */
.Testimonial_img{
    box-shadow: 1rem;
}
.Testimonial{
  position: relative;
  overflow: auto;
  background-color: rgb(163, 33, 83);
  margin-left: -10%;
  margin-top:13%!important;
  padding: 3%!important;  
}
@media (max-width:720px){
    .Testimonial_img img{
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    .Testimonial{
        object-fit: fill;
        width: 100%;
        height: 100%;
        background-color: red;
    }

}