
.bg-primary{
    background-color: #212121cf;
    backdrop-filter: blur(50px);
    background-image: linear-gradient(#63365d, #b01e16, #6f6215 70%);
}
.form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}


.form-control:focus,.form-control:active {
    border-color: #01d28e !important;
}
.form-label {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.btn.btn-primary {
    background: #01d28e !important;
    border-color: #01d28e !important;
    color: #fff;
    width: 100px;
    border-radius: 0!important;
    
}
.btn.btn-primary:hover{
    background-color: #28a745!important;    
}

.bi{
    font-size: 50px;
}
